.loaderContainer {
 display: flex;
 justify-content: center;
 align-items: center;
 /* Ajusta el tamaño del contenedor según tus necesidades */
 position: fixed;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
 width: 96px;
 height: 96px;
}

.loader {
 position: relative;
 width: 96px;
 height: 96px;
 transform: rotate(45deg);
 /* Ajusta el color de fondo del loader */
 background-color: #f2f2f2;
}

.loaderSquare {
 position: absolute;
 top: 0;
 left: 0;
 width: 28px;
 height: 28px;
 margin: 2px;
 border-radius: 0px;
 background: white;
 /* Ajusta el color de los cuadrados */
 background-color: #333;
 background-size: cover;
 background-position: center;
 background-attachment: fixed;
 animation: square-animation 10s ease-in-out infinite both;
}

.loaderSquare:nth-of-type(0) {
 animation-delay: 0s;
}

.loaderSquare:nth-of-type(1) {
 animation-delay: -1.4285714286s;
}

.loaderSquare:nth-of-type(2) {
 animation-delay: -2.8571428571s;
}

.loaderSquare:nth-of-type(3) {
 animation-delay: -4.2857142857s;
}

.loaderSquare:nth-of-type(4) {
 animation-delay: -5.7142857143s;
}

.loaderSquare:nth-of-type(5) {
 animation-delay: -7.1428571429s;
}

.loaderSquare:nth-of-type(6) {
 animation-delay: -8.5714285714s;
}

.loaderSquare:nth-of-type(7) {
 animation-delay: -10s;
}

@keyframes square-animation {
 0% {
  left: 0;
  top: 0;
 }

 10.5% {
  left: 0;
  top: 0;
 }

 12.5% {
  left: 32px;
  top: 0;
 }

 23% {
  left: 32px;
  top: 0;
 }

 25% {
  left: 64px;
  top: 0;
 }

 35.5% {
  left: 64px;
  top: 0;
 }

 37.5% {
  left: 64px;
  top: 32px;
 }

 48% {
  left: 64px;
  top: 32px;
 }

 50% {
  left: 32px;
  top: 32px;
 }

 60.5% {
  left: 32px;
  top: 32px;
 }

 62.5% {
  left: 32px;
  top: 64px;
 }

 73% {
  left: 32px;
  top: 64px;
 }

 75% {
  left: 0;
  top: 64px;
 }

 85.5% {
  left: 0;
  top: 64px;
 }

 87.5% {
  left: 0;
  top: 32px;
 }

 98% {
  left: 0;
  top: 32px;
 }

 100% {
  left: 0;
  top: 0;
 }
}

h1{
    font-family: "Varela Round", sans-serif;
    margin-top: 10px;
}
h2{
    font-family: "Varela Round", sans-serif;
    margin-top: 10px;
}
.img{
    object-fit: contain;
    width: 50%;
 height: 50%;
 margin-top: 16px;
 /* margin-bottom: -100px; */
 padding: 10px;
 border-radius: 30px;
 background-size: cover;
}

p{
    
    font-family: "Varela Round", sans-serif;
    font-size: 20px;
    font-style: normal;
    /* display: inline-block; */
    margin-top: 10px;
    /* margin-bottom: 10px; */
    padding: 6px;
}